#daemon configuration
telnet_port 4444
gdb_port 3333
daemon_startup reset

#interface
interface parport
parport_port 0x378
parport_cable wiggler
jtag_speed 1
jtag_nsrst_delay 2
jtag_ntrst_delay 2

#use combined on interfaces or targets that can't set TRST/SRST separately
reset_config trst_and_srst

#jtag scan chain
#format L IRC IRCM IDCODE (Length, IR Capture, IR Capture Mask, IDCODE)
jtag_device 4 0x1 0xf 0xe
jtag_device 5 0x1 0x1 0x1e

#target configuration
#target <type> <startup mode>
target cortex_m3 little reset_halt 0
target_script 0 reset stm32.script
run_and_halt_time 0 30

#flash configuration
working_area 0 0x20000000 0x4000 nobackup
flash bank stm32x 0x08000000 0x00008000 0 0 0 
